
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
    border: none;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
}

.actions input,
input[type="submit"],
textarea {
    border: 1px solid;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
}

input {

      border: 1px solid;
    background-image: none;
    box-shadow: none;  
}

form.search input[type="text"] {
    border-top-color: initial;

}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
.actions a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
.actions a:active,
#outer .current,
#header .current,
a.current,
.current a:visited,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
    border-color: initial;
    box-shadow: none !important;
}

#header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
#header .primary,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff, .delete a, span.delete  {
    box-shadow: none;

}

.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus {
    border: none;
    box-shadow: none;
}

.listbox .index,
.dashboard .listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type="submit"],
button,
.current,
.actions label,
    {
    border: none;
    border-bottom: none;
    background-image: none;
    box-shadow: none;

}


#header .menu,
#small_login,
#header .dropdown:hover .current+.menu {

    box-shadow: none;
    background-image: none;
    filter: none;

}


